@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster|Audiowide|Great+Vibes|Comfortaa|Orbitron|Tajawal|Livvic|Fira+Sans|Unica+One|Rajdhani");

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
 background: var(--oxford-blue);
}

:root {
 --oxford-blue: #111D4A;
 --wild-blue: #96ADC8;
 --tea-green: #D7FFAB;
 --unmellow-yellow: #FCFF6C;
 --brown-yellow: #D89D6A;
 --tuscan-red: #6D454C;
 --spring-bud: #CACF85;
 --sea-green: #8CBA80;
 --des-cyan: #658E9C;
 --nav-purple: #4D5382;
 --pinapple: #514663;
 --mummy-tomb: #808D8E;
 --blue-bell: #A3A5C3;
 --pastel-blue: #A9D2D5;
 --columbis-blue: #C3DFE0;
 --old-gold: #B8B42D;
 --olivine: #9DAD6F;
 --deep-taupe: #7D6D61;
 --wenge: #5E574D;
 --charlston-green: #2A2B2A;
 --metal-sunburn: #A37C40;
 --vivid-tangerine: #FFA987;
 --linen: #F7EBE8;
 --carmine-pink: #E54B4B;
 --raisin-black: #1E1E24;
 --rifle-green: #444140;
 --rich-black: #07090F;
 --cosmic-latte: #FFFCE8;
 --harvest-gold: #E59500;
 --great-vibes: 'Great Vibes', cursive;
 --comfortaa: 'Comfortaa', cursive;
 --orbitron: 'Orbitron', sans-serif;
 --audiowide: 'Audiowide', cursive;
 --rajdhani: 'Rajdhani', sans-serif;
}

html {
 font-size: 10px;
 font-family: var(--rajdhani) sans-serif;
 box-sizing: border-box;
}
/* Global styles */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

body {
    background: var(--oxford-blue);
    color: var(--cosmic-latte);
}

/* Header */

header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--cosmic-latte);
}

.nav-brand {
    width: 2rem;
}

.menu-icons i {
    font-size: 3.5rem;
    color: var(--cosmic-latte);
    cursor: pointer;
}

.open i {
    font-size: 2.5rem;
}

.close i {
    color: var(--oxford-blue);
}

.nav-list {
    width: 25%;
    height: 100vh;
    background-color: var(--harvest-gold);
    position: fixed;
    top: 0rem;
    right: -40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem;
    padding: 0.5rem;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--oxford-blue);
}


