@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster|Audiowide|Great+Vibes|Comfortaa|Orbitron|Tajawal|Livvic|Fira+Sans|Unica+One|Rajdhani");

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
 background: var(--raisin-black);
}

:root {
 --wild-blue: #96ADC8;
 --tea-green: #D7FFAB;
 --unmellow-yellow: #FCFF6C;
 --brown-yellow: #D89D6A;
 --tuscan-red: #6D454C;
 --spring-bud: #CACF85;
 --sea-green: #8CBA80;
 --des-cyan: #658E9C;
 --nav-purple: #4D5382;
 --pinapple: #514663;
 --mummy-tomb: #808D8E;
 --blue-bell: #A3A5C3;
 --pastel-blue: #A9D2D5;
 --columbis-blue: #C3DFE0;
 --old-gold: #B8B42D;
 --olivine: #9DAD6F;
 --deep-taupe: #7D6D61;
 --wenge: #5E574D;
 --charlston-green: #2A2B2A;
 --metal-sunburn: #A37C40;
 --vivid-tangerine: #FFA987;
 --linen: #F7EBE8;
 --carmine-pink: #E54B4B;
 --raisin-black: #1E1E24;
 --rifle-green: #444140;
 --rich-black: #07090F;
 --cosmic-latte: #FFFCE8;
 --great-vibes: 'Great Vibes', cursive;
 --comfortaa: 'Comfortaa', cursive;
 --orbitron: 'Orbitron', sans-serif;
 --audiowide: 'Audiowide', cursive;
 --rajdhani: 'Rajdhani', sans-serif;
}

html {
 font-size: 10px;
 font-family: var(--rajdhani) sans-serif;
 box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--charlston-green);
    color: var(--brown-yellow);
    box-sizing: border-box;
}

li, a, button {
    color: var(--brown-yellow);
}
.container {
    width: 100%;
    max-width: 98rem;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
}

.logo {
    cursor: pointer;
}

.nav__list {
    list-style: none;
}

.nav__list li {
    display: inline-block;
    padding: 0 2rem;
}

.nav__list li a {
    transition: all 300ms ease 0s;
}

.nav__list li a:hover {
    color: var(--blue-bell);
}

button {
    padding: 1rem 2.5rem;
    background-color: var(--charlston-green);
    border: .2rem solid var(--brown-yellow);
    border-radius: 5rem;
    cursor: pointer;
    transition: all 300ms ease 0s;
}

button:hover {
    background-color: var(--blue-bell);
    color: var(--charlston-green);
}